body{
    margin: 0;
    height: auto;
    background-color: #32383d;
    color: white;
}

/* .summary-card {
    max-width: 480px;
} */

.card {
    background-color: #454c52;
}

header {
    margin-bottom: 20px;
    display: block;
}

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-counter {
    text-align: center;
    background-color: #f5f5f5;
    color: #777;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 40px;
    font-family: roboto condensed,sans-serif;
}

.content-inner {
    min-height: 500px;
    font-size: 15px;
    color: #222;
}

#maincounter-wrap {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    /* padding-top: 20px; */
}

#maincounter-wrap h1 {
    margin: 0;
    text-align: center;
    /* padding-top: 20px; */
}

.maincounter-number {
    font-weight: 700;
    color: #696969;
    font-size: 54px;
}

table {
    font-weight: 500;
}

table td:first-child {
    font-weight: 700;
}

.recovery {
    color:rgb(8, 180, 8);
}

.deaths {
    color:rgb(255, 38, 0);
}

.bg-recovery {
    background-color:rgb(8, 180, 8);
}

.bg-fatality {
    background-color:rgb(255, 38, 0);
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #32383d;;
}

.table-dark {
    background-color: #454c52;
}

thead {
    color: #b4b4b4;;
} 